
<div class="container-fluid no-padding" style="width: 98%;margin-top: 2vw;">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 ">
      <!--div for subcategory - Yoga -->
      <div id="dev-sec-1" class="box-height-1 showBlock personal-development" >
        <h1 class="text-center" ></h1><br><br>
        <div class=" col-lg-12 col-md-12 col-sm-12">
          <div class="row text center"  *ngIf="items.length==0"><!---->
            <div style="height:83vh;background-color: white;width: -webkit-fill-available;">
              <img src="../../assets/img/load.gif" style="padding-left: 22vw;
    padding-top: 8vw;">
            </div>

          </div>
          <div class="row" *ngIf="items.length!=0">
            <div *ngFor="let item of items | slice:0:300; " class="card col-lg-2 col-md-2 col-sm-2  margin-left-2 margin-right-1 margin-top-2 cursor-pointer" style="border: 2px solid #007bff40" (click)="goPlanet(item)">
              <img class="card-img-top" src="{{item.img}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{item.fpl_hostname}}</h5>
                <p class="card-text">{{item.fpl_discmethod}}<br>{{item.fpl_facility}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
