
<div class="container-fluid no-padding" style="width: 98%;">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 ">
      <!--div for subcategory - Yoga -->
      <div id="dev-sec-1" class="box-height-1 showBlock personal-development" >
        <h1 class="text-center" ></h1><br><br>
        <div class=" col-lg-12 col-md-12 col-sm-12">
          <!--<div class="row" style="margin-top: 3vh;margin-bottom: 3vh;">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
            </div>
          </div>-->
          <div class="row" *ngIf="items.length!=0">
            <div *ngFor="let item of items | slice:0:300; " class="card col-lg-2 col-md-2 col-sm-2  margin-left-2 margin-right-1 cursor-pointer" (click)="goPlanet(item)">
              <img class="card-img-top" src="{{item.img}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{item.pl_hostname}}</h5>
                <p class="card-text">{{item.pl_discmethod}}<br>{{item.pl_facility}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
